* {
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: Arial;
  text-align: justify;
}

/*css banner*/
header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5px 100px;
  background-color: #ecf2f8;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  transition: top 0.3s ease;
}
.header-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.logo-container {
  display: flex; 
  flex-wrap: nowrap;  
}
.logo-container img {
  width: 64.5px;
  height: 47px;
}
.logo-container h1 {
  margin: 10px 0px;
  font-size: 30px;
  color: #0F5DA6;
}
.login-out {
  display: flex;
  align-items: center;
  gap: 25px;
}
.login-out a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  color: #0F5DA6;
  text-transform: uppercase; 
  font-weight: bold;
  text-decoration: none;
}
.icon{
  width: 30px;
  height: 30px;
}

/*css cho thanh điều hướng ở banner*/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  padding: 5px 0px;
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.main-nav ul li {
  position: relative;
  padding-left: 5px;
}
.main-nav ul li a {
  text-decoration: none;
  color: #0F5DA6;
  display: block;
  font-weight: bold;
}
.main-nav a:hover {
  color: darkblue;
  cursor: pointer;
}
.has-dropdown .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  min-width: 200px;
  z-index: 1000;
}
.has-dropdown:hover .dropdown {
  display: block;
}
.dropdown {
  position: relative;
}
.dropdown > a::after {
  float: right;
  margin-left: 10px;
}
.dropdown a {
  padding: 5px;
}
.search-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.search-container input {
  width: 230px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #a9d2f8;
  border-right: none;
}
.search-container button {
  height: 40px;
  width: 40px;
  background-color: #D8EBFF; 
  border: 1px solid #a9d2f8;
  border-radius: 0%;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}
.search-btn:hover {
  background-color: #007acc;
}

/*banner phụ*/
.banner-image {
  margin-top: 130px;
  width: 100%;
  overflow: hidden;
}

.banner-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 400px;
}

/*css cho thông tin liên hệ*/
.info-container {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  margin: 10px 30px 30px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.info-container h2 {
  font-size: 24px;
  color: #0F5DA6;
  text-transform: uppercase;
  border-left: 5px solid #0F5DA6;
  padding-left: 10px;
}
.info-container h3{
  text-decoration: underline;
  text-underline-offset: 6px;
}
.info-container p {
  line-height: 1.8;
  font-size: 16px;
  color: #333;
}
.info-container a {
  color: #0F5DA6;
  text-decoration: underline;
}
.info-container a:hover {
  color: darkblue;
}
.info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 10px;
}
.info-left,
.info-right {
  flex: 1;
  min-width: 300px;
}

[id]:target::before {
  content: "";
  display: block;
  height: 100px; /* chiều cao header */
  margin-top: -80px;
  visibility: hidden;
}

/*Form & FAQ*/
.contact-container {
  display: flex;
  background-color:#D8EBFF;
  gap: 30px;
  padding: 40px 20px 40px 50px;
  margin: 10px 0px 30px 0px;
  flex-wrap: wrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.contact-form {
  flex: 2;

  gap: 15px;
}
.contact-form h2{
  font-size: 24px;
  color: #0F5DA6;
  text-transform: uppercase;
  border-left: 5px solid #0F5DA6;
  padding-left: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin: 0 10px 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  transform: scale(1.2);
}

.contact-form button {
  padding: 10px 25px;
  margin-top: 10px;
  background-color: #0F5DA6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: flex-end;
}
.contact-form button:hover {
  background-color: #a9d2f8;
}

.contact-faq {
  flex: 1.6;
  min-width: 250px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.contact-faq h2{
  text-align: center;
  text-transform: uppercase;
}
.contact-faq li{
  padding: 5px 5px;
  text-align: justify;
}

.contact-faq a{
  text-decoration: none;
  color: black;
}

.contact-faq a:hover {
  color: rgb(155, 12, 155);
}

.contact-faq a:active {
  color: #a9d2f8; /* màu khi đang nhấn */
}
.contact-faq p{
  color: #007acc;
  font-size:smaller;
  font-style: italic;
  padding: 0 20px 5px 20px;
}

/*các câu hỏi*/
.faq{
      margin: 40px 80px 40px 80px;
      background: #fff;
      padding: 30px;
}
.faq h2{
  color: #0962a8;
  text-align: center;
}.faq li{
  font-size: larger;
  line-height: 1.8;
  color: #0962a8;
}
.faq p{
  font-style: italic;
  font-size: large;
  color: black;
}
/*bản đồ*/
.map-container{
  background-color: #ffffff;
  padding: 30px;
  margin: 30px auto;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.map-container h2 {
  font-size: 24px;
  color: #0F5DA6;
  text-transform: uppercase;
  border-left: 5px solid #0F5DA6;
  padding-left: 20px;
}
.map-container iframe {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
}

/*css cho footer*/
.footer {
  background-color: #0962a8;
  color: white;
  padding: 10px 50px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.footer-top h2 {
  margin: 0;
  font-size: 24px;
}
.hotline {
  gap: 10px;
  background-color: white;
  color: #0F5DA6;
  padding: 5px 15px;
  border-radius: 20px;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-column {
  flex: 1 1 200px;
  margin-right: 30px;
}
.footer-column h3 {
  font-weight: bold;
  margin-bottom: 16px;
  color: #fff;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 8px 0;
}
.footer-column a {
  color: white;
  text-decoration: none;
}
.payment-icons img {
  height: 40px;
  margin-right: 25px;
}
.footer-bottom {
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 15px;
}
.footer-bottom p {
  text-align: center;
  margin: 5px 0;
}

/*css nút trở về đầu trang*/
#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #0F5DA6;
  color: white;
  padding: 7px 9px;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#backToTopBtn:hover {
  background-color: #fff;
}

/*res cho header*/
/* Ẩn hamburger menu trên desktop */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger img {
  width: 35px;
  height: auto;
}

/* Mobile & tablet view */
@media (max-width: 768px) {
  header {
    padding: 5px 0;
  }
  .header-top {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-left: 0;
  }

  .login-out {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    margin-left: 0;
  }

  .hamburger {
    display: block;
    align-items: center;
    justify-self: center;
  }

  .main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ecf2f8;
    margin-top: 10px;
  }

  .main-nav.active {
    display: flex;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    margin: 10px 0;
  }

  .search-container {
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0 10px;
  }

  .search-container input {
    flex-grow: 1;
  }

  .search-container button {
    margin-left: 5px;
  }

  .faq {
    margin: 15px;
    padding: 10px 10px 15px 5px;
  }

  .info-container {
    padding: 20px;
    margin: 10px;
  }

  .contact-container {
    padding: 20px;
    margin: 10px;
  }
}